.homebtn {
    background-color: rgb(23, 162, 184);
    color: white!important;
    text-align: center;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
}
.mr-auto, .mx-auto {
    margin-left: auto;
    margin-right: 0!important;
}
.container {
    background-color:lightgray;
}
h1, h2 {
    color: rgb(23, 162, 184);
    padding-bottom: 10px;
    border-bottom: groove;
    border-bottom-width: 1px;
}
.col-8, .col-6, .col-4 {
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}
img {
    margin-top: 10px;
    margin-bottom: 10px;
}
.floatingimg {
    width: 200px; 
    float: left;
    margin-right: 10px!important;
}
.floatingtext {
    line-height: 2.0;
}
.visualimg {
    display: block;
    width: auto;
    margin-left: auto!important;
    margin-right: auto!important;
}
.highlightselection {
    border-color: blue;
}
.visibleblock {
    visibility: visible;
}
.hiddenblock {
    visibility: hidden;
}

@media (min-width:320px) and (max-width: 575.98px) { 
    .navbar {
        background-color:  rgb(23, 162, 184)!important;
    }
    .row {
        display: block;
    }
    h1 {
        font-size: 18px;
    }
    h2 {
        font-size: 14px;
    }
    .visibleblock {
        visibility: hidden;
        display: none;
    }
    .hiddenblock {
        visibility: visible;
        display: inline-block;
        max-width: 100%;
    }
    .col-4, .col-6, .col-8 {
        max-width: 100%;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) { 
    .navbar {
        background-color:  rgb(23, 162, 184)!important;
    }
    .row {
        display: block;
    }
    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 20px;
    }
    .visibleblock {
        visibility: hidden;
        display: none;
    }
    .hiddenblock {
        visibility: visible;
        display: inline-block;
        max-width: 100%;
    }
    .col-4, .col-6, .col-8 {
        max-width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) { 
    .navbar {
        background-color:  rgb(23, 162, 184)!important;
    }
    .visibleblock {
        visibility: visible;
        display: inline-block;
    }
    .hiddenblock {
        visibility: hidden;
        display: none;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) { 
    .visibleblock {
        visibility: visible;
        display: inline-block;
    }
    .hiddenblock {
        visibility: hidden;
        display: none;
    }
}
@media (min-width: 1200px) { 
    .visibleblock {
        visibility: visible;
        display: inline-block;
    }
    .hiddenblock {
        visibility: hidden;
        display: none;
    }
}